body {
    margin: 0px;
}

.top {
    background-color: rgb(106, 241, 205);
    border-bottom: 0px;
    border-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.middle {
    background-color: rgb(178, 249, 225);
    border-top: 0px;
    border-bottom-style: ridge;
    border-width: 5px;
    border-color: rgb(17, 86, 29);
    text-align: center;
}

.bottom {
    background-color: rgb(145, 206, 186);
    border-style: none;
    padding: 10px;
    text-align: center;
}

.row {
    display: inline;
    width: 50%;
}

.column1 {
    display: inline-block;
    width: 100px;
    margin: 10px;
}

.column2 {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

ul {
    display: inline;
    list-style-type: none;
}

.compPic {
    display: inline;
    width: 80%;
}